/* NOTE: some of the styling for this application is performed by bootstrap in the HTML */

/* Background for body */

body {
	font-family: Helvetica, sans-serif;
	color: white;
	background: url("images/background.jpg") no-repeat center;
}

/* Spacing for header */

.header {
	padding-top: 60px;
	padding-bottom: 30px;
}

/* Background when modal pops up */
.modal {
	color: white;
	background: rgb(2, 0, 36);
	background: rgba(0, 0, 0, 0.2);
}

/* Background color and font color when modal pops up */
.modal-content {
	font-family: Helvetica, sans-serif;
	color: black;
	background: lightgray;
}
/* To be used for mobile phones */
.modal-body {
	max-height: 350px;
	padding: 15px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

/* Table styling */
.table {
	font-family: Helvetica, sans-serif;
	color: black;
	background: white;
	border: 5px solid black;
}

/* Header 1 styling */
h1 {
	text-align: center;
	font-weight: bold;
	text-shadow: 5px 5px black;
}

/* Header 5 styling */
h5 {
	font-weight: bold;
}

/* Footer styling - place at the bottom of page */
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	text-shadow: 2px 2px black;
}
